* {
    font-family: Helvetica;
    margin: 0;
    color: rgb(62, 62, 62);
}

.header {
    display: flex;
    justify-content: flex-end;
    grid-column: span 2;
    height: 20px;
    align-items: center;
}

a {
    display: flex;
    text-decoration: none;
    background-color: #bed6f7;
    padding: 10px;
    margin: 8px;
    flex-basis: 8%;
    font-size: 18px;
    border-radius: 5px;
}

a:hover {
    background-color: #91bcf8;
    color: #e9f1f6;
  }

.title {
    display: flex;
    justify-content: center;
    grid-column: span 2;
    align-items: center;
    margin-top: 0px;
}

.grid-container {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    grid-gap: 10px;
}

.grid-item {
    background-color: #dae7f7;
    padding: 20px;
    margin-top: 2px;
}

.footer {
    display: flex;
    justify-content: center;
    grid-column: span 2;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}