* {
    font-family: Helvetica;
    margin: 0;
    color: rgb(62, 62, 62);
}

body {
    padding-top: 70px;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(247, 244, 244);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index:1;
}

a {
    text-decoration: none;
    list-style: none;
    align-items: center;
    color: rgb(52, 52, 52);
    padding: 10px 20px;
    margin-right: 30px;
}

a:hover {
    border-radius: 25px;
    background-color: rgb(225, 224, 224);
    transition: 0.3s;
}

.logo {
    height: 98%;
    margin: 0 auto 0 30px;
    opacity: 70%;
}

h1 {
    text-align: center;
    margin: 40px auto;
    font-size: 45px;
    color: grey;
    width: 35%;
    border-bottom: solid 1px rgba(220, 218, 218, 0.519);
}

.containerflex {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 15px;
    width: 250px;
    height: 350px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.imgcard {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
}

.cardcontainer{
    padding: 2px 16px;
    justify-content: center;
}

p b {
    color: rgb(97, 97, 97);
}

.carddescription {
    color: rgb(125, 125, 126);
    font-size: smaller;
}

footer {
    width: 100%;
    height: 30px;
    background-color: rgb(247, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-size: smaller;
    color: grey;
}