* {
    font-family: Helvetica;
    margin: 0;
    color: rgb(62, 62, 62);
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



a {
 text-decoration: none;
 display: block;
 margin: 3px;
}

.items {
    width: 20%;
    text-align: center;
    background-color: rgb(125, 222, 241);
    padding: 8px 15px;
    border-radius: 8px;
}

.items:hover {
    background-color: rgb(54, 188, 215);
    color: white;
}